<!--[if IE]><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><![endif]-->
<!--[if lte IE 6]><style type="text/css">.clearfix { height: 1%; }</style><![endif]-->
<!--[if IE 7]><style type="text/css">.clearfix { display:inline-block; }</style><![endif]-->
<html>
<head>
	<title>{% block title %}{{params.get('title')}}{% end %}</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="{{ params.get('static_host') + '/css/style.css' }}" type="text/css" media="screen, projection" />
</head>
<body>
<div class="main">
	<div id="content" class="center">
		<div id="settings_header">
			<div class="top_stat"><input type="button" value="圣诞礼物随机分配" id="pair_pick_btn"/></div>
			<div class="top_stat"><input type="button" value="公司活动随机分组" id="group_pick_btn"/></div>
		</div>
		<div id="group_random_pick_div" style="display:none">
			<div id="settings_header">
				<div class="top_stat"><h2>随机分组设置</h2></div>
			</div>
			<div id="settings_header">
				<div class="top_stat">
					<input id="club_member_dispatch_flag" type="checkbox" value ="true"> club小组成员平均分配到各组				
				</div>
				<div class="top_stat">
					<input id="gender_dispatch_flag" type="checkbox" value ="true"> 男女平均分配				
				</div>
				<div class="top_stat">
					小组数量：<input type="text" id="group_count">				
				</div>
			</div>
			<div id="actions" class="center">
				<input type="button" value="GO" id="pick_btn"/>
			</div>
		</div>
		<div id="error_msg"></div>
		<div id="pick_result"></div>
	</div>
</div>
<script type="text/javascript" src="{{ params.get('static_host') + '/js/jquery-1.8.3.js' }}"></script>
<script type="text/javascript" src="{{ params.get('static_host') + '/js/picker.js' }}"></script>
</body>
</html>